<div id="debug"></div>
<div>
    <span id="song-info"></span> (<span id="pause-info">playing</span>)
</div>
<button id="next">Next</button>
<button id="toggle-pause">Pause</button>
<button id="toggle-output">Audio On</button>

<h2>Stations</h2>
<div class="station-container">
    #foreach($stations in $stationBuckets)
        <div>
            #foreach($station in $stations)
                <div data-station-id="$station.Id">
                    $station.Name
                </div>
            #end
        </div>
    #end
</div>

<script>
    var audio;
    var pause = false;
    var outputEnabled = true;

    function showSong(songData) {
        document.getElementById('song-info').innerHTML = songData.artist + ' - ' + songData.song;
    }

    function playSong(url, time) {
        if (outputEnabled) {
            pauseSong();

            audio = new Audio(url);
            audio.play();

            if (audio.fastSeek) {
                audio.fastSeek(time);
            } else {
                audio.currentTime = time;
            }
        }
    }

    function showPause() {
        document.getElementById('pause-info').innerHTML = pause ? 'pausing' : 'paying';
    }

    function togglePause() {
        pause = !pause;

        if (pause) {
            pauseSong();
        } else {
            audio.play();
        }
    }

    function pauseSong() {
        if (audio) {
            audio.pause();
        }
    }

    var socket = new WebSocket(webSocketUrl("stream"));
    socket.onmessage = function (event) {
        var command = JSON.parse(event.data);
        console.log(command);

        switch (command.command) {
            case 'play':
                showSong(command.songData);
                playSong(command.songData.url, command.time)
                break;
            case 'pause':
                togglePause();
                showPause();
                break;
        }
    }
    socket.onopen = function () {
        console.log("Socket has been opened!");
    }
    socket.onerror = function (e) {
        alert('ws error: ' + JSON.stringify(e));
    }

    function webSocketUrl(s) {
        var l = window.location;
        return ((l.protocol === "https:") ? "wss://" : "ws://") + l.host + l.pathname + s;
    }

    var toggleOutputBtn = document.getElementById('toggle-output');
    toggleOutputBtn.addEventListener('click', function () {
        outputEnabled = !outputEnabled;

        if (!outputEnabled) {
            pauseSong();
        }

        toggleOutputBtn.innerHTML = outputEnabled ? 'Audio Off' : 'Audio On';
    });

    document.getElementById('toggle-pause').addEventListener('click', function () {
        fetch('/song/pause');
    });

    document.getElementById('next').addEventListener('click', function () {
        fetch('/song/next');
    });

    var stations = document.querySelectorAll('[data-station-id]');
    for (var i = 0; i < stations.length; i++) {
        stations[i].addEventListener('click', function (e) {
            fetch('/station/' + e.target.dataset.stationId);
        });
    }
</script>